
body{
    margin: 0;
}
.header{
    background-color: #1F2937;
    color: aliceblue;
    margin: 0;
    padding: 60px;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    
}
.links{
    display: flex;
    gap: 30px;
}
